

/* ======== GOOGLE FONTS ========= */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

/* ============= VARIABLES SASS ============= */
$sidebar-width: 420px;

 /* ============= Font weight ============= */
 $font-medium: 500;
 $font-semi-bold: 600;
 $font-bold: 700;

/* ============= Colours ============= */
$primary-color: #b8c1ec;
$secondary-color: #232946;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style-type: none;
    text-decoration: none;
}

::before, ::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* ============= BASE ============= */

.wrapper {
    width: 100%;
    height: 100%;
    background: url('../../public/assets/background.svg') no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}

.container :is(h1, p) {
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Tangerine', sans-serif;
    font-size: 5rem;
}

p {
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

span {
    color: white;
    i {
        font-size: 1.5rem;
    }
}

span:hover {
    color: orange;
}